### Load Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv("./dataset/engineering.csv")
df.sample(6)

,institute_id,name,tlr,rpc,go,oi,perception,city,state,rank
23,IR-E-U-0139,Indian Institute of Technology Gandhinagar,83.76,34.55,55.15,57.90,38.26,Gandhinagar,Gujarat,24
117,IR-E-U-0043,Vignan s Foundation for Science Technology ...,59.21,8.03,49.36,57.20,5.21,Guntur,Andhra Pradesh,118
177,IR-E-C-9462,School of Engineering Cochin University of Sc...,50.08,14.19,38.55,44.77,5.69,Cochin,Kerala,178
111,IR-E-U-0190,Shoolini University of Biotechnology and Manag...,53.75,22.22,46.02,47.26,0.00,Solan,Himachal Pradesh,112
98,IR-E-C-35417,Bharati Vidyapeeth Deemed University College o...,54.62,3.35,65.40,66.06,6.18,Pune,Maharashtra,99
110,IR-E-U-0130,Dhirubhai Ambani Institute of Information and ...,47.25,10.86,68.33,49.81,7.12,Gandhinagar,Gujarat,111

In [3]:
df.shape

(200, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   institute_id  200 non-null    object
 1   name          200 non-null    object
 2   tlr           200 non-null    float64
 3   rpc           200 non-null    float64
 4   go            200 non-null    float64
 5   oi            200 non-null    float64
 6   perception    200 non-null    float64
 7   city          200 non-null    object
 8   state         200 non-null    object
 9   rank          200 non-null    int64
dtypes: float64(5), int64(1), object(4)
memory usage: 15.8+ KB

In [5]:
df.isnull().sum()

institute_id    0
name            0
tlr             0
rpc             0
go              0
oi              0
perception      0
city            0
state           0
rank            0
dtype: int64

In [6]:
df.describe()

              tlr         rpc         go          oi  perception        rank
count  200.000000  200.000000  200.00000  200.000000  200.000000  200.000000
mean    59.050150   20.307350   56.70360   51.873700   14.214650  100.475000
std     10.152778   19.937026   11.10281    6.853437   19.262625   57.866936
min     35.510000    0.460000   13.06000   33.800000    0.000000    1.000000
25%     52.535000    5.397500   50.11250   47.360000    2.557500   50.750000
50%     57.525000   13.350000   55.07000   51.855000    6.650000  100.500000
75%     64.392500   30.642500   63.09500   56.002500   17.790000  150.250000
max     95.420000   96.150000   89.65000   75.700000  100.000000  200.000000

In [7]:
df.duplicated().sum()

0

In [8]:
df.corr()

C:\Users\Omkar Khade\AppData\Local\Temp\ipykernel_12992\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                 tlr       rpc        go        oi  perception      rank
tlr         1.000000  0.644496  0.433223  0.441925    0.685677 -0.743884
rpc         0.644496  1.000000  0.610339  0.229635    0.812273 -0.798349
go          0.433223  0.610339  1.000000  0.274123    0.670738 -0.655488
oi          0.441925  0.229635  0.274123  1.000000    0.266696 -0.426902
perception  0.685677  0.812273  0.670738  0.266696    1.000000 -0.693651
rank       -0.743884 -0.798349 -0.655488 -0.426902   -0.693651  1.000000

In [9]:
df.corr()['rank']

C:\Users\Omkar Khade\AppData\Local\Temp\ipykernel_12992\1076813670.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['rank']

tlr          -0.743884
rpc          -0.798349
go           -0.655488
oi           -0.426902
perception   -0.693651
rank          1.000000
Name: rank, dtype: float64

In [10]:
clean_df=df.drop(["institute_id","name","city","state"],axis=True)
clean_df.sample(6)

       tlr    rpc     go     oi  perception  rank
38   70.58  45.83  56.57  40.89       10.70    39
12   68.93  46.03  78.67  55.24       55.59    13
46   54.76  36.98  64.42  50.22       29.68    47
82   62.69   4.26  63.05  48.54       12.79    83
120  53.96   3.72  59.10  64.06        1.10   121
138  46.65   9.68  61.00  49.25        0.55   139

### Split Data

In [11]:
X = clean_df.drop('rank', axis=1)
y = clean_df['rank']

print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (200, 5)
Shape of y =  (200,)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51)

print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (160, 5)
Shape of y_train =  (160,)
Shape of X_test =  (40, 5)
Shape of y_test =  (40,)

### Model Traning with Support Vector Regressor

In [13]:
from sklearn.svm import SVR

In [14]:
#Model Traning with ernel='linear'
svr_linear = SVR(kernel='linear')
svr_linear.fit(X_train, y_train)
svr_linear.score(X_test, y_test)

0.802427660287366

In [15]:
y_pred=svr_linear.predict(X_test)

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
#first finding mean square error using mean_squared_error class
mse = mean_squared_error(y_test, y_pred)
#finding Root mean square error using pandas
rmse = np.sqrt(mse)

print('MSE = ', mse)
print('RMSE = ', rmse)

MSE =  691.1691682573924
RMSE =  26.290096391177276

### Model Traning with Random Forest Regressor

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [19]:
regressorRFR = RandomForestRegressor(n_estimators=100, criterion='squared_error')
regressorRFR.fit(X_train, y_train)

RandomForestRegressor()

In [20]:
regressorRFR.score(X_test, y_test)

0.931538904417223

In [21]:
y_pred2=regressorRFR.predict(X_test)

In [22]:
#first finding mean square error using mean_squared_error class
mse = mean_squared_error(y_test, y_pred2)
#finding Root mean square error using pandas
rmse = np.sqrt(mse)

print('MSE = ', mse)
print('RMSE = ', rmse)

MSE =  239.49809249999998
RMSE =  15.475725911891823

In [34]:
int(regressorRFR.predict([X_test.iloc[18, :]])[0].round())

c:\Users\Omkar Khade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

120

In [35]:
y_test.iloc[18]

129

### Save the Model

In [37]:
import joblib
#joblib.dump(regressorRFR, "college_rank_predictor.pkl")

['college_rank_predictor.pkl']

In [38]:
model = joblib.load("college_rank_predictor.pkl")

In [41]:
model.predict([X_test.iloc[18, :]])[0]

c:\Users\Omkar Khade\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

120.02